@font-face {
	font-family: SansSerif;
	src: url(../fonts/Sans_Serif.ttf);

}

@font-face {
	font-family: TimesNewRoman;
	src: url(../fonts/Times_New_Roman.ttf);
}

@font-face {
	font-family: PlumbMedium;
	src: url(../fonts/Plumb.ttf);
}

@font-face {
	font-family: MODDigitalStripCyrillicBold;
	src: url(../fonts/MODDigitalStripCyrillicBold.ttf);
}


body{
	min-height: 500px;
	min-width: 500px;
	margin: 0;
	font-family: MODDigitalStripCyrillicBold,PlumbMedium, Verdana, sans-serif, TimesNewRoman;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;

}

.startPanelShadow{
	display: flex;
	align-items: center;
	justify-content: center;
	position:fixed;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	left:0;
	top:0;
	z-index: 5;
}

.startPanel{
	padding: 20px 10px;
	border-radius: 3vh;
	background-color:white;
	width:40vw;
	position: fixed;
	min-width: 400px;
	box-shadow: 0px 0px 1em #4682B4;

}

.startPanel__greeting{
	margin: 0 auto 20px;
	text-align:center;
	font-size:1em;
}

.startPanel__form{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	margin: 0;
}

.startPanel__nameInput{
	font-family: MODDigitalStripCyrillicBold,PlumbMedium, Verdana, sans-serif, TimesNewRoman;
	height:2em;
	text-align:center;
	font-size: 1.5em;
	border: 1px solid #4682B4;
	box-shadow: 0px 0px 0.5em #4682B4;
	border-radius:3em;
	outline:none;
}

.startPanel__nameInput:hover{
	box-shadow: 0px 0px 1em #4682B4;
}

.startPanel__nameButton{
	border-radius:1em;
	margin:20px 0 0 ;
	padding:0.3em;
	font-family: MODDigitalStripCyrillicBold,PlumbMedium, Verdana, sans-serif, TimesNewRoman;
	font-size:2em;
	text-align:center;
}

.startPanel__nameButton:hover{
		box-shadow: 0px 0px 0.5em #4682B4;
}

.helloBlock{
	width: 50vw;
	text-align: center;
	margin: 1em 0;
	font-size: 1.2em;
}

.gameInfoBlock{
	display: grid;
	margin-bottom: 15px;
	width: 350px;
	grid-template-columns: 3fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.gameInfoBlock_general{
	margin: 5px 0;
}

.gameInfoBlock_score{
	text-align: right;
}

.gameInfoBlock_rezult{
	text-align: center;
}

.gameInfoBlock_steps{
	grid-area: 2/1/4/2;
	font-size: 	1.2em;
	margin: 10px auto 0;
	box-shadow: -3px -3px 10px #66CDAA;
	color:#4682B4;
}

.gameInfoBlock_step{
	width: 110px;
	height: 30px;
	text-align: center;
	margin: auto 0;
}

.fieldBox{
	box-shadow: 0px 0px 1em #66CDAA;
	padding: 0;
	background-color: #4682B4;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}
.fieldBox__cell{
	padding: 0;
	margin: 0;
	border: 0;
	background: white;
	width: 100px;
	height: 100px;
}
.fieldBox__cell:hover{
	background: #66CDAA;
	cursor: pointer;
}
.fieldBox__canvas{
	width: 200%;
	height: 100%;
}
